/* core */
* {
    margin: 0;
}

html {
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    width: 100%;
    height: 100%;
}

/* container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

/* nav hover */
.nav-item:hover {
    background: #fda62f;
    border-radius: 30px;
}

/* navbar-toggler */
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
        transition: none;
    }
}

.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* masthead */
header.masthead {
    padding-top: 2rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("assets/img/hotel-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 1.5rem;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}

/* divider */
hr.divider {
    height: 0.2rem;
    max-width: 6rem;
    margin: 1.5rem auto;
    background-color: #fda62f;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

/* headings and paragraphs */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Playfair Display", serif, "Poppins", Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* anchor */
a {
    color: #aab2b9;
    text-decoration: none;
}

a:hover {
    color: #fff !important;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

/* buttons */
.btn {
    display: inline-block;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(244, 98, 58, 0.25);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    color: #fff;
    background-color: #fda62f;
    border-color: #fda62f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d18217;
    border-color: #c34e2e;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #d18217;
    border-color: #c34e2e;
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fda62f;
    border-color: #fda62f;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #fda62f;
    border-color: #fda62f;
}

.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #000 !important;
    background-color: #cbcfd1;
    border-color: #cbcfd1;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}

.btn-check:checked+.btn-light,
.btn-check:active+.btn-light,
.btn-light:active,
.btn-light.active,
.show>.btn-light.dropdown-toggle {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.btn-check:checked+.btn-light:focus,
.btn-check:active+.btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}

.btn-light:disabled,
.btn-light.disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

/* page section */
.page-section {
    padding: 8rem 0;
}

/* overview */
.bg-primary {
    background-color: #212529 !important;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

/* services */
.bi {
    color: #fda62f;
}

/* photos */
#photos .container-fluid,
#photos .container-sm,
#photos .container-md,
#photos .container-lg,
#photos .container-xl,
#photos .container-xxl {
    max-width: 1920px;
}

#photos .container-fluid .photos-box,
#photos .container-sm .photos-box,
#photos .container-md .photos-box,
#photos .container-lg .photos-box,
#photos .container-xl .photos-box,
#photos .container-xxl .photos-box {
    position: relative;
    display: block;
}

#photos .container-fluid .photos-box .photos-box-caption,
#photos .container-sm .photos-box .photos-box-caption,
#photos .container-md .photos-box .photos-box-caption,
#photos .container-lg .photos-box .photos-box-caption,
#photos .container-xl .photos-box .photos-box-caption,
#photos .container-xxl .photos-box .photos-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 30%, #fda62f) transparent;
    transition: opacity 0.25s ease;
    text-align: center;
}

#photos .container-fluid .photos-box .photos-box-caption .project-category,
#photos .container-sm .photos-box .photos-box-caption .project-category,
#photos .container-md .photos-box .photos-box-caption .project-category,
#photos .container-lg .photos-box .photos-box-caption .project-category,
#photos .container-xl .photos-box .photos-box-caption .project-category,
#photos .container-xxl .photos-box .photos-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

#photos .container-fluid .photos-box .photos-box-caption .project-name,
#photos .container-sm .photos-box .photos-box-caption .project-name,
#photos .container-md .photos-box .photos-box-caption .project-name,
#photos .container-lg .photos-box .photos-box-caption .project-name,
#photos .container-xl .photos-box .photos-box-caption .project-name,
#photos .container-xxl .photos-box .photos-box-caption .project-name {
    font-size: 1.2rem;
}

#photos .container-fluid .photos-box:hover .photos-box-caption,
#photos .container-sm .photos-box:hover .photos-box-caption,
#photos .container-md .photos-box:hover .photos-box-caption,
#photos .container-lg .photos-box:hover .photos-box-caption,
#photos .container-xl .photos-box:hover .photos-box-caption,
#photos .container-xxl .photos-box:hover .photos-box-caption {
    opacity: 1;
}

/* rooms */
.card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

/* footer */
.footer-classic {
    padding: 30px 0;
    background: #212529;
    color: #aab2b9;
    font-size: 16px;
}

.footer-classic .brand .brand-logo-dark {
    display: none;
}

.footer-classic .brand .brand-logo-light {
    display: block;
}

.footer-classic .brand img {
    width: 100%;
}

.footer-classic-description {
    font-size: 14px;
    line-height: 1.8;
}

.footer-classic-title {
    font-family: "Poppins", sans-serif;
    color: #d7dde5;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: .15em;
}

.footer-classic-nav-list a {
    color: inherit;
}

@media (min-width: 576px) {
    .footer-classic-subscribe-form {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-classic-subscribe-form .form-label {
    padding-left: 20px;
}

@media (min-width: 576px) {
    .footer-classic-subscribe-form .form-wrap {
        margin-right: -131px;
        min-width: 100%;
    }
}

@media (min-width: 992px) {
    .footer-classic-subscribe-form .form-wrap {
        margin-right: 0px;
    }
}

@media (min-width: 1200px) {
    .footer-classic-subscribe-form .form-wrap {
        margin-right: -131px;
    }
}

.footer-classic-subscribe-form .form-wrap .form-validation {
    text-align: center;
    right: 20px;
}

@media (min-width: 576px) {
    .footer-classic-subscribe-form .form-wrap .form-validation {
        right: 135px;
    }
}

@media (min-width: 992px) {
    .footer-classic-subscribe-form .form-wrap .form-validation {
        right: 20px;
        left: auto;
        transform: none;
    }
}

@media (min-width: 1200px) {
    .footer-classic-subscribe-form .form-wrap .form-validation {
        left: 50%;
        transform: translateX(-60%);
    }
}

.footer-classic-subscribe-form .form-input {
    background-color: #39393e;
    border: 1px solid #39393e;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    flex: 20 0;
}

@media (min-width: 576px) {
    .footer-classic-subscribe-form .form-input {
        padding: 12px 142px 12px 20px;
    }
}

@media (min-width: 992px) {
    .footer-classic-subscribe-form .form-input {
        padding: 12px 20px 12px 20px;
    }
}

@media (min-width: 1200px) {
    .footer-classic-subscribe-form .form-input {
        padding: 12px 142px 12px 20px;
    }
}

.footer-classic-subscribe-form .form-button {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

@media (min-width: 576px) {
    .footer-classic-subscribe-form .form-button {
        margin-top: 0px;
    }
}

.footer-classic-subscribe-form .form-button button {
    font-size: 12px;
    width: 131px;
    height: 50px;
    padding: 0;
}

@media (min-width: 992px) {
    .footer-classic-subscribe-form .form-button button {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .footer-classic-subscribe-form .form-button button {
        margin-top: 10px;
    }
}

.footer-classic-aside {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* brand */
.brand {
    display: inline-block;
}

.brand .brand-logo-light {
    display: none;
}

.brand .brand-logo-dark {
    display: block;
}

/* section-sm */
.section-sm {
    padding: 50px 0;
}

@media (max-width: 991.98px) {
    section.section-sm:first-of-type {
        padding-top: 40px;
    }
}

@media (min-width: 768px) {
    .section-sm {
        padding: 60px 0;
    }
}

/* offset */
.offset-right-25 {
    margin-right: 25px;
}

/* form */
.form-wrap {
    position: relative;
}

.form-wrap.has-error .form-input {
    border-color: #f5543f;
}

.form-wrap.has-focus .form-input {
    border-color: #505cfd;
}

.form-wrap+* {
    margin-top: 20px;
}

.form-input {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 12px 19px 5px 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #888888;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid #f5f5f5;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.form-input:focus {
    outline: 0;
}

textarea.form-input {
    min-height: 50px;
    max-height: 230px;
    resize: vertical;
}

.form-label,
.form-label-outside {
    margin-bottom: 0;
    color: #888888;
    font-weight: 400;
}

.form-label {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 0;
    padding-left: 0;
    padding-right: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    pointer-events: none;
    text-align: left;
    z-index: 9;
    transition: .25s;
    will-change: transform;
    transform: translateY(-50%);
    color: #888888;
}

.form-label.focus {
    opacity: 0;
}

.form-label.auto-fill {
    color: #888888;
}

.label-textarea {
    top: 13px;
    transform: none;
}

.form-label-outside {
    width: 100%;
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .form-label-outside {
        position: static;
    }

    .form-label-outside,
    .form-label-outside.focus,
    .form-label-outside.auto-fill {
        transform: none;
    }
}

[data-x-mode='true'] .form-label {
    pointer-events: auto;
}

.form-validation {
    position: absolute;
    right: 8px;
    bottom: -14px;
    z-index: 6;
    margin-top: 2px;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    color: #f5543f;
    transition: .3s;
}

.home-form .form-validation {
    top: auto;
    bottom: -14px;
}

.form-validation-left .form-validation {
    top: 100%;
    right: auto;
    left: 0;
}

.rd-form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    transform: translate3d(0, -8px, 0);
    margin-bottom: -8px;
    margin-left: -4px;
    margin-right: -4px;
}

.rd-form-inline>* {
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.rd-form-inline>* {
    margin-top: 0;
}

.rd-form-inline .form-wrap {
    flex-grow: 1;
    min-width: 185px;
}

.rd-form-inline .form-wrap-select {
    text-align: left;
}

.rd-form-inline .form-button {
    flex-shrink: 0;
    max-width: calc(100% - 10px);
    min-height: 50px;
}

.rd-form-inline .form-button .button {
    min-height: inherit;
}

@media (min-width: 576px) {
    .rd-form-inline .button {
        display: block;
        margin-top: 10px;
    }
}

.rd-form-inline.rd-form-inline-centered {
    justify-content: center;
}

.form-sm .form-input,
.form-sm .button {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 40px;
}

.form-sm .form-validation {
    top: -16px;
}

.form-sm .form-label {
    top: 20px;
}

.form-sm *+.button {
    margin-top: 10px;
}

.form-lg .form-input,
.form-lg .form-label,
.form-lg .select2-container .select2-choice {
    font-size: 16px;
}

.form-lg .form-input,
.form-lg .select2-container .select2-choice {
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.form-lg .form-input,
.form-lg .select2-container .select2-choice {
    min-height: 58px;
}

.form-lg .form-button {
    min-height: 60px;
}

.form-lg .form-label {
    top: 30px;
}

/* form button */
.button-circle {
    border-radius: 30px;
}

.button-primary,
.button-primary:focus {
    color: #ffffff;
    background-color: #fda62f;
    border-color: #fda62f;
}

.button-primary:hover,
.button-primary:active,
.button-primary.active {
    color: #ffffff;
    background-color: #d18217;
    border-color: #d18217;
}

.button-primary.button-ujarak::before {
    background: #d18217;
}

.single-page .button-primary,
.single-page .button-primary:focus {
    color: #ffffff;
    background-color: #505cfd;
    border-color: #505cfd;
}

.single-page .button-primary:hover,
.single-page .button-primary:active,
.single-page .button-primary.active {
    color: #505cfd;
    background-color: #ffffff;
    border-color: #ffffff;
}

.single-page .button-primary.button-ujarak::before {
    background: #ffffff;
}

/* group */
html .group-sm {
    margin-bottom: -10px;
    margin-left: 0px;
}

html .group-sm:empty {
    margin-bottom: 0;
    margin-left: 0;
}

html .group-sm>* {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0px;
}

@media (min-width: 576px) {
    html .group-sm {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    html .group-sm:empty {
        margin-bottom: 0;
        margin-left: 0;
    }

    html .group-sm>* {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

/* copyright */
p.copyright {
    font-size: 14px;
    color: #888888;
}

p.copyright a {
    color: inherit;
}

/* back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}